/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.appanalyzer
/.clangd
/.clang-format
/.clang-tidy
/.preview
*.har
*.hsp
*.app
/.cxx
/.test
/.test_web
/docs/legal/
/signing/
*.p12
*.p7b
*.cer
*.csr
*.pwd
*.hap
/scratch/
